[submodule "CS4227-Client"]
	path = CS4227-Client
	url = https://github.com/Crystal4B/CS4227-Client/
	branch = main
[submodule "CS4227-Server"]
	path = CS4227-Server
	url = https://github.com/Crystal4B/CS4227-Server/
	branch = main
